PORT=8080
DB_PS_USER=postgres
DB_PS_PASSWORD=your_password
DB_PS_DATABASE=payment_request
DB_PS_HOST=postgres

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=payment_app
RABBITMQ_DEFAULT_PASS=payment_app_dev
RABBITMQ_QUEUE=payment_requests
RABBITMQ_URL=amqp://payment_app:payment_app_dev@rabbitmq:5672/

# Mercado Pago configuration
MERCADO_PAGO_ACCESS_TOKEN=your_token_here
MERCADO_PAGO_WEBHOOK_URL=http://localhost:8081/webhooks/mercadopago