PORT=8081
DB_PS_HOST=postgres
DB_PS_PORT=5432
DB_PS_USER=postgres
DB_PS_PASSWORD=your_password
DB_PS_DATABASE=payment_request

# RabbitMQ configuration
RABBITMQ_URL=amqp://payment_app:payment_app_dev@localhost:5672/
RABBITMQ_QUEUE=payment_requests